.deck {
  border: 1px solid black;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
}

.deck-row-one {
  display: flex;
  justify-content: space-between;
}

.deck-row-three {
  display: flex;
  justify-content: space-between;
}